doctype html
html(lang='en')

	head
		meta(charset='utf-8')
		title Home
		link(rel='stylesheet' href='css/main.css')

	body
		div(id='content')

			div(class='vis-box')
				div(id='tag-list')
					a(class='toggle-btn', href='#') sorted_list
					ul
				img(id='vis-shuffle', title='Make chaos', src='img/tzeentch_star.png')

				div(id='vis')
					svg
				div(id='vis-status')
					div

			section(id='tag-links')
				h1 Tag Links
				ul

			section(id='links')
				h1 Links
				ul

			section(id='backlog')
				h1 Backlog
				ul

			section(id='notes')
				h1 Notes
				pre
					code

		script(src='js/d3.js')
		script(src='js/d3.layout.cloud.js')
		script(src='js/sjcl.js')

		script(src='tags.json')
		script(src='backlog.json')
		script(src='links.json')
		script(src='notes.json')

		script(src='js/main.js')
