#content {
  width: 1000px;
  margin: 0 auto; }

.vis-box {
  width: 100%; }
  .vis-box #vis svg {
    width: 100%;
    height: 600px; }
    .vis-box #vis svg text {
      cursor: pointer; }
      .vis-box #vis svg text:hover {
        opacity: 0.7 !important; }
  .vis-box #vis-status {
    width: 100%;
    padding: 1px;
    border: 1px solid black;
    height: 3px;
    text-align: left; }
    .vis-box #vis-status div {
      width: 0;
      margin: 0;
      background: black;
      height: 100%; }

#tag-links, #backlog {
  display: none; }

